{% extends "polls/base.html" %}

{% block title %}
    Question
{% endblock %}

{% block body %}

<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% endif %}

<h3>Add Choice</h3>
<form action="{% url 'polls:addOpt' question.id %}" method="post">
    {% csrf_token %}
    <label>Option Name</label>
    <input type="text" minlength="2" name="option">
    <input type="submit" value="Create">
</form>
<br>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
    {% endfor %}
    {% if question.choice_set.all %}
        <input type="submit" value="Vote">  
    {% else %}
        <div>No Choices Yet</div>
    {% endif %}
</form>
<br>
<form action="{% url 'polls:deleteq' question.id %}" method="post">
    {% csrf_token %}
    <input type="submit" name="delete" value="Delete Question?">
</form>

{% endblock %}