{% extends "polls/base.html" %}

{% block title %}
    Polls
{% endblock %}

{% block body %}

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <br>
            <li><a href="{% url 'polls:detail' question.id %}">{{ question }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
{% endif %}

<h2>Add Question</h2>
<form action="{% url 'polls:createq' %}" method="post">
    {% csrf_token %}
    <label>Question</label>
    <input type="text" minlength="4" name="question">
    <input type="submit" value="Create">
</form>

{% endblock %}